.endpage {
    background-color: black;
    color: white;
    font-family: "Quicksand Light", sans-serif;
    font-style: normal;
    text-align: right;
    padding: 0 35px 0 0;
    border: 1px solid;
    border-radius: 0 0 20px 0;
}

.ahead {
    font-family: "Quicksand Light", sans-serif;
    font-weight: bold;
}

.introduce {
    font-family: "Lobster", sans-serif;
    text-align: right;
    padding: 0 20px 0 0;
}
