header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #386e61;
    
}

body {
    margin: 10px;
}

.website-name {
    color: white;
    font-size: 1.3em;
    margin-left: 8px;
    text-align: center;
    margin-right: 10px;
}

.left-selection {
    display: flex;
    align-items: center;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 0;
    margin-right: 10px;
}

.menu {
    display: flex;
    padding-right: 25px;
    text-decoration: none;
    font-size: 1em;
    gap: 15px;
}
.menu a {
    margin-left: 20px;
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 17px;
}
.menu a:hover {
    color: #ffffff;
    background-color: gray;
}

footer {
    background-color: black;
    margin-top: 20px;
    width: 100%;
    height:50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer p {
    color: white;
    margin-left: 15px;
    font-size: 15px;
    text-align: right;
    margin: 0;
    margin-right: 20px;
    font-family: "Comfortaa", sans-serif;
}
h3 {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
}
span {
    font-family: "Comfortaa", sans-serif;
    font-weight: normal;
}

span a {
    color: white;
}

a {
    text-decoration: none;
}
.chamngon {
    display: flex;
    justify-content: center;
}
.chamngon p{
    align-items: end;
    font-family: "Noto Serif", serif;
    font-style: normal;
    text-align: right;
    font-size: 18px;
    margin-right: 15px;
}
.heading-total {
    background-color: #546e7a;
    padding: 15px;
    color: white;
}
.img-wrapper {
    text-align: center;
    max-width: 906px;
    max-height: 600px;
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}
.video-js {
    padding-top: 56.25%; 
    max-width: 1080px;
    max-height: 720px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    aspect-ratio: 16/9;
    object-fit: contain;
    align-items: center;
    position: absolute;
}
.hamburger {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 15px;
    color: white;
}
@media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
    }
    .menu a {
      margin: 10px 0;
      text-align: center;
    }
    .hamburger {
      display: block;
    }
  }
.video-wrapper {
    text-align: center; /* Căn giữa theo chiều ngang */
}
.music-wrapper {
    text-align: center;
    gap: 50px;
    max-width: 768px;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 50px;
}

.heading {
    display: flex;
    justify-content: center;
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-size: 30px;
}
